#dashboard
  &.content-wrap
    overflow hidden
    max-width 880px
    margin 0 auto

  .actions-panel
    padding 20px

  .revisions
    max-width 530px
    margin-left 30px

  section
    margin-bottom 10px

  h2
    font-size 14px
    font-weight normal
    color #ccc
    text-transform uppercase

  .menu-item
    height 30px
    line-height 30px
    font-size 16px
    color #666
    text-decoration none
    display block

    i
      width 22px
      height 28px
      text-align center
      font-size 22px
      vertical-align middle

  .no-revisions
    margin-top 30px
    padding 5px
    font-size 14px
    color #aaa
    text-align center

    a
      color #666
