.icons
  .icon
    cursor pointer
    width 70px
    height 70px
    margin 5px
    padding 10px
    border solid 1px #eee
    border-radius 10px
    display inline-block
    transition opacity 0.2s ease-out

    &:hover
      opacity 0.8
