main-color = #252a3a

#login-body
  height auto

#login
  width 340px
  margin 100px auto 0

  .logo
    text-align center
    font-size 150px
    color main-color

  .content
    text-align center
    color #666

    legend
      font-size 22px
      padding 10px
      width 100%

    input
      display block
      width 100%
      height 56px
      font-size 18px
      margin 20px 0
      border 1px solid #ccc
      border-radius 3px
      text-align center

    input[type=submit]
      background main-color
      color white
      text-transform uppercase
      border none

  a
    color main-color

  .errors
    padding 10px
    color rgb(252, 38, 7)

body
  height auto
