.pack-icons
  width 800px
  margin 0 auto
  @media(max-width: 1160px)
    width 720px
  @media(max-width: 840px)
    width 640px
  @media(max-width: 640px)
    width 400px
  @media(max-width: 440px)
    width 240px

  .icon
    cursor pointer
    width 70px
    height 70px
    margin 5px
    border solid 1px #eee
    border-radius 10px
    display inline-block
    transition opacity 0.2s ease-out

    .md-button-inner
      padding 10px

    &:hover
      opacity 0.8

.pack-info
  .row
    padding 30px

  md-input-group
    margin 5px
    font-size 22px

  input
    width 100%

  .row.actions
    text-align right
    font-size 1.5em

.pack-icon-info
  .item-info
    height 200px
    display none

    @media(min-width: 600px)
      &[show-sm]
        display block

    .icon
      height 160px
      padding 10px

      svg
        height 100%
        width 100%

    .name
      text-align center
      font-size 18px
      padding 10px
      text-overflow ellipsis
      white-space nowrap

  .item-actions
    overflow-y scroll

    .title
      text-transform uppercase
      font-weight normal
      font-size 14px
      color #aaa
      padding 0 5px

    .collections
      margin 10px 0

    .collection
      height 40px
      line-height 40px
      padding 0 10px
      transition background-color 0.1s ease-out
      color #666
      cursor pointer
      position relative

      &:hover
        background-color rgba(0, 0, 0, 0.1)
        color #69f

      i.icon-collections
        width 20px

