.pack-icons
  width 800px
  margin 0 auto
  @media(max-width: 1160px)
    width 720px
  @media(max-width: 840px)
    width 640px
  @media(max-width: 640px)
    width 400px
  @media(max-width: 440px)
    width 240px

  .icon
    cursor pointer
    width 70px
    height 70px
    margin 5px
    padding 10px
    border solid 1px #eee
    border-radius 10px
    display inline-block
    transition opacity 0.2s ease-out

    &:hover
      opacity 0.8

.pack-info
  .row
    padding 30px

  md-input-group
    margin 5px
    font-size 22px

  input
    width 100%

  .row.actions
    text-align right

    md-button
      width 120px
