.pack-icons
  width 800px
  margin 0 auto
  @media(max-width: 1160px)
    width 720px
  @media(max-width: 840px)
    width 640px
  @media(max-width: 640px)
    width 400px
  @media(max-width: 440px)
    width 240px
