.revisions-wrap
  max-width 640px
  margin 0 auto 10px
  padding-left 30px

.revisions
  border-left solid 2px #eee
  margin-bottom 20px

  revision
    display block
    overflow display
    margin 0
    padding-top 30px
    margin-left -16px
    font-size 14px
    color #999

    .revision-title
      font-size 16px
      padding 5px 0 5px 40px
      min-height 40px

    .revision-action-icon
      display inline-block
      width 30px
      height 30px
      border-radius 20px
      text-align center
      margin-left -40px
      margin-right 10px
      vertical-align middle
      background #eee

      i
        line-height 30px
        font-size 24px
        color #888

    .revision-avatar
      display inline-block
      height 16px
      width 16px
      border-radius 10px
      margin-right 5px
      margin-bottom 2px
      overflow hidden
      vertical-align middle
      background #eee

    .revision-detail
      margin 0
      margin-left 40px
      padding-left 20px

      .revision-detail-item
        margin 5px 0px

      .field
        font-weight bold

      .old
        text-decoration line-through

      .new
        color #666
        text-decoration underline

    .revision-user, .revision-target, .revision-ref
      font-weight bold
      color #666

    .restore-action
      text-align right
      cursor pointer
      margin-left 15px
      border-bottom 1px solid #eee

  .revision-start
    margin-top 40px
    line-height 30px
    height 30px
    text-align center

    .revision-start-marker
      width 30px
      height 30px
      border-radius 15px
      border solid 2px #eee
      background #fff
      margin-left -16px
      display inline-block
      float left

    .revision-older
      cursor pointer
      color #aaa
