.md-sidenav-left
  width 200px
  z-index 8

  a 
    text-decoration none

  .avatar-bar
    .avatar-wrap
      margin 20px auto
      height 100px
      width 100px
      background #ccc
      border-radius 50%
      overflow hidden

    .name-wrap
      text-align center

  .menu-item
    z-index 1
    width 100%
    border none
    height 40px
    display block
    cursor pointer
    line-height 40px
    padding 0 15px
    position relative
    text-overflow ellipsis
    transition 0.2s ease-out
    transition-property height, background, opacity


    &.menu-title
      text-transform uppercase


    &.ng-hide
      opacity 0
      height 0
