Django==1.7.1
argparse==1.2.1
cssselect==0.9.1
cssutils==1.0
dj-database-url==0.3.0
dj-static==0.0.6
django-filter==0.8
django-jsonfield==0.9.13
djangorestframework==2.4.3
gunicorn==19.1.1
lxml==3.4.0
pyquery==1.2.9
static3==0.5.1
wsgiref==0.1.2
