<md-toolbar class="md-medium-tall view-toolbar">
<div class="md-toolbar-tools">
  <md-button class="menu-icon" hide-md aria-label="Toggle Menu" ng-click="app.openMenu()">
  <i class="icon-menu"></i>
  </md-button>
  <p>Collections</p>
  <h1>{{ collection.info.name }}</h1>
</div>
<div class="md-toolbar-tools toolbar-tabs">
  <span flex></span>
  <div class="tab-item" ink-ripple ng-class="{active: collection.isTab('icons')}" ng-click="collection.setTab('icons')">
    <i class="icon-icons"></i> icons
  </div>
  <div class="tab-item" ink-ripple ng-class="{active: collection.isTab('info')}" ng-click="collection.setTab('info')">
    <i class="icon-information"></i> info
  </div>
  <div class="tab-item" ink-ripple ng-class="{active: collection.isTab('revisions')}" ng-click="collection.setTab('revisions')">
    <i class="icon-revisions"></i> revisions
  </div>
</div>
</md-toolbar>
<md-content class="md-content-padding" flex>
<div class="tab" ng-if="collection.isTab('icons')">
  <div class="collection-icons">
    <md-list>
      <md-item class="icon-item" ng-repeat="icon in collection.icons" aria-label="">
        <md-item-content>
        <div class="md-title-left icon">
          <svg viewBox="0 0 1024 1024">
            <path ng-attr-d="{{icon.svg_d}}"
            ng-attr-transform="scale(1, -1) translate( {{ 512 - (icon.width || 1024)/2}} , -896)" ></path>
          </svg>
        </div>
        <div class="md-tile-content">
          <div class="icon-actions">
            <p>ACTIONS</p>
            <md-button class="md-warn"
              ng-disabled="!collection.iconNameChanged(icon)" 
              ng-click="collection.iconNameReset(icon)"
              aria-label="Reset"
              >
              <i class="icon-reset-o"></i>
            </md-button>
            <md-button class="md-danger" aria-label="delete" ng-click="collection.deleteIcon(icon)">
              <i class="icon-delete-o"></i>
            </md-button>
          </div>
          <p class="icon-name-label">
          ICON NAME
          </p>
          <div class="icon-info">
            <span ng-if="collection.info.prefix">{{ collection.info.prefix }}-</span><input
            ng-pattern="/^[a-z0-9\-]*[a-z0-9]$/" ng-model="icon.name"
            ng-blur="collection.saveIconName(icon)"
            >
          </div>
        </div>
        </md-item-content>
        <md-divider inset></md-divider>
      </md-item>
    </md-list>
    <div class="upload-svg"
        ng-file-drop="collection.svgFileSelected($files)"
        ng-file-drag-over-class="upload-drag-over"
        ng-multiple="true"
        >
        <div class="upload-symbol">
          <i class="icon-svg-upload"></i>
        </div>
        <div>Drag SVG file here or select from your disk.</div>
        <div class="svg-invalid" ng-if='collection.svgInvalid'>
          Failed to convert SVG file to icon.
        </div>
        <input type="file" class="upload-svg-select" multiple="true"
          ng-file-select="collection.svgFileSelected($files)"
          onclick="this.value=null">
      </div>
  </div>
</div>
<div class="tab" ng-if="collection.isTab('info')">
  <div class="collection-info" layout="vertical" layout-align="center" flex flex-lg="70" offset-lg="15">
    <form name="form">
      <div class="row" >
        <md-text-float label="Name"
        fid="{{ collection.fieldName('name') }}"
        ng-model="collection.info.name" required pattern="^[a-zA-Z][\x00-\x7F]{0,127}$"> </md-text-float>
        <div layout="vertical" layout-md="horizontal">
          <md-text-float label="Build Name"
          fid="{{ collection.fieldName('build_name') }}"
          ng-model="collection.info.build_name" required pattern="^[a-zA-Z][a-zA-Z0-9]{0,127}$" flex> </md-text-float>
          <md-text-float label="Class Prefix"
          fid="{{ collection.fieldName('class_prefix') }}"
          ng-model="collection.info.prefix" pattern="^[a-z][a-z0-9]{0,15}$" flex> </md-text-float>
        </div>
      </div>
      <div class="row livetesting">
        <p>
        <b>Live testing</b> is a convenient way to debug your icons in your web pages. 
        Insert the html code below into the head tag of your page, then the icons in this collection will be available.
        You can preview the icons in <a class="cheatsheet" target="_blank" ng-href="/build/livetesting/{{ collection.info.token }}" >cheatsheet</a>.
        </p>
        <pre>&lt;link rel="stylesheet" href="{{ collection.liveURL() }}" type="text/css"&gt;</pre>
        <p>
        This live testing URL is accessible without authentication. You can 
        <a class="retoken" ng-click="collection.retoken()" >regenerate</a>
        this URL to avoid abuse.
        </p>
      </div>
      <div class="row actions">
        <a ng-href="/build/zippack/{{ collection.info.token }}" class="download-collection" ink-ripple>
          <i class="icon-download"></i>
          ZIP
        </a>
        <md-button aria-label class="md-warn" ng-click="collection.reset()" ng-disabled="collection.unchanged()">Reset</md-button>
        <md-button aria-label class="md-safe" ng-click="collection.save()" ng-disabled="form.$invalid || collection.unchanged()">Save</md-button>
      </div>
      <div class="row delete-action">
        <button
          ink-ripple
          class="delete-button"
          ng-click="collection.delete()"
          >Delete this Collection</button>
        <p>
        Once deleted, the live testing url to this collection will be invalid.
        Deletion can be undo in the revisions panel of <a href="#/home/dashboard">dashboard</a>
        , but you should still be careful with this action.
        </p>
      </div>
    </form>
  </div>
</div>
<div class="tab" ng-if="collection.isTab('revisions')">
  <div class="revisions-wrap">
    <div class="revisions">
      <revision ng-repeat="revision in collection.revisionPage.results" revision="revision"
      restore-click="collection.restoreRevision(revision)"
      ></revision>
      <div class="revision-start">
        <span class="revision-start-marker"></span>
        <a class="revision-older" ng-if="collection.revisionPage.next" ng-click="collection.loadMoreRevisions()">
          Show older revisions...
        </a>
      </div>
    </div>
  </div>
</div>
</md-content>
