<md-toolbar class="md-medium-tall view-toolbar">
<div class="md-toolbar-tools">
  <md-button class="menu-icon" hide-md aria-label="Toggle Menu" ng-click="app.openMenu()">
  <i class="icon-menu"></i>
  </md-button>
  <p>Home</p>
  <h1>Dashboard</h1>
</div>
</md-toolbar>
<md-content class="md-content-padding" flex>
<div id="dashboard" class="content-wrap" layout="vertical" layout-md="horizontal">
  <div class="actions-panel" flex-md="33">
    <section>
      <h2>actions</h2>
      <div class="actions-menu">
        <a class="menu-item" href="#/packs/add">
          <i class="icon-packs"></i>
          Add new pack
        </a>
        <a class="menu-item" href="#/collections/add">
          <i class="icon-collections"></i>
          Add new collection
        </a>
      </div>
    </section>
    <section>
      <h2>accounts</h2>
      <div class="accounts-menu">
        <a class="menu-item" href="#/home/settings">
          <i class="icon-settings"></i>
          Settings
        </a>
        <a class="menu-item" href="/logout">
          <i class="icon-log-out"></i>
          Log out
        </a>
      </div>
    </section>
    <section>
      <h2>about</h2>
      <div class="about-menu">
        <a class="menu-item" href="http://io-meter.com/myicons" target="_blank">
          <i class="icon-home"></i>
          Project home
        </a>
        <a class="menu-item" href="http://github.com/shanzi/myicons/issues" target="_blank">
          <i class="icon-bug"></i>
          Bug report
        </a>
        <a class="menu-item" href="http://io-meter.com/myicons/#donate" target="_blank">
          <i class="icon-donate"></i>
          Donate
        </a>
      </div>
    </section>
  </div>
  <div class="revisions-wrap" flex-md>
    <div class="no-revisions" ng-if="!dashboard.revisionPage.results">
      Nothing had happend, get started by
      <a href="#/packs/add">adding a new pack</a>.
    </div>
    <div class="revisions" ng-if="dashboard.revisionPage.results">
      <revision ng-repeat="revision in dashboard.revisionPage.results" revision="revision"
      restore-click="dashboard.restoreRevision(revision)"
      ></revision>
      <div class="revision-start">
        <span class="revision-start-marker"></span>
        <a class="revision-older" ng-if="dashboard.revisionPage.next" ng-click="dashboard.loadMoreRevisions()">
          Show older revisions...
        </a>
      </div>
    </div>
  </div>
</div>
</md-content>
