<md-toolbar class="md-medium-tall view-toolbar">
<div class="md-toolbar-tools" ng-click="app.openMenu()">
  <md-button class="menu-icon" hide-md aria-label="Toggle Menu" ng-click="app.openMenu()">
  <i class="icon-menu"></i>
  </md-button>
  <p>Packs</p>
  <h1>{{ pack.info.name }}</h1>
</div>
<div class="md-toolbar-tools toolbar-tabs">
  <span flex></span>
  <div class="tab-item" ink-ripple ng-class="{active: pack.isTab('icons')}" ng-click="pack.setTab('icons')">
    <i class="icon-icons"></i> icons
  </div>
  <div class="tab-item" ink-ripple ng-class="{active: pack.isTab('info')}" ng-click="pack.setTab('info')">
    <i class="icon-information"></i> info
  </div>
  <div class="tab-item" ink-ripple ng-class="{active: pack.isTab('revisions')}" ng-click="pack.setTab('revisions')">
    <i class="icon-revisions"></i> revisions
  </div>
</div>
</md-toolbar>
<md-content class="md-content-padding" flex>
<div class="tab" ng-if="pack.isTab('icons')">
  <div class="pack-wrap">
    <div class="pack-icon-search">
      <input type="search" placeholder="Search" ng-model='pack.searchText' ng-model-options="{ debounce: 500 }" >
    </div>
    <pack-icons icons="pack.icons" filter="pack.searchText" icon-click="pack.showIconInfo(icon)"></pack-icons>
  </div>
</div>
<div class="tab" ng-if="pack.isTab('info')">
  <div class="pack-info" layout="vertical" layout-align="center" flex flex-lg="70" offset-lg="15">
    <form name="form">
      <div class="row" >
        <md-text-float label="Name" ng-model="pack.info.name"
        fid="{{ pack.fieldName('name') }}"
        required> </md-text-float>
      </div>
      <div class="row" layout="vertical" layout-sm="horizontal" >
        <md-text-float label="Author" ng-model="pack.info.author"
        fid="{{ pack.fieldName('author') }}"
        required flex> </md-text-float>
        <md-text-float label="Email" type="email" ng-model="pack.info.author_email"
        fid="{{ pack.fieldName('email') }}"
        flex> </md-text-float>
      </div>
      <div class="row" layout="vertical">
        <md-text-float label="Website" type="url" ng-model="pack.info.website"
        fid="{{ pack.fieldName('website') }}"
        required url> </md-text-float>
        <md-text-float label="Github" type="url" ng-model="pack.info.github"
        fid="{{ pack.fieldName('github') }}"
        url> </md-text-float>
        <md-text-float label="CDN" type="url" ng-model="pack.info.cdn"
        fid="{{ pack.fieldName('cdn') }}"
        url> </md-text-float>
      </div>
      <div class="row" layout="vertical">
        <md-text-float label="License" ng-model="pack.info.license"
        fid="{{ pack.fieldName('license') }}"
        required maxlength="128"> </md-text-float>
      </div>
      <div class="row actions">
        <md-button aria-label class="md-warn" ng-click="pack.reset()" ng-disabled="pack.unchanged()">Reset</md-button>
        <md-button aria-label class="md-safe" ng-click="pack.save()"
        ng-disabled="form.$invalid || pack.unchanged()"
        >Save</md-button>
      </div>
      <div class="row delete-action">
        <button
          ink-ripple
          class="delete-button"
          ng-click="pack.delete()"
          >Delete this Pack</button>
        <p>
        Deletion of the pack won't affect the icons you added to collections,
        it can also be undo in the revisions panel of <a href="#/home/dashboard">dashboard</a>
        , but you should still be careful with this action.
        </p>
      </div>
    </form>
  </div>
</div>
<div class="tab" ng-if="pack.isTab('revisions')">
  <div class="revisions-wrap">
    <div class="revisions">
      <revision ng-repeat="revision in pack.revisionPage.results" revision="revision"></revision>
      <div class="revision-start">
        <span class="revision-start-marker"></span>
        <a class="revision-older" ng-if="pack.revisionPage.next" ng-click="pack.loadMoreRevisions()">
          Show older revisions...
        </a>
      </div>
    </div>
  </div>
</div>
</md-content>
