<md-toolbar class="md-medium-tall view-toolbar">
<div class="md-toolbar-tools" ng-click="app.openMenu()">
  <md-button class="menu-icon" hide-md aria-label="Toggle Menu">
  <i class="icon-menu"></i>
  </md-button>
  <p>Packs</p>
  <h1>{{ pack.info.name }}</h1>
</div>
<div class="md-toolbar-tools toolbar-tabs">
  <span flex></span>
  <div class="tab-item" ink-ripple ng-class="{active: pack.isTab('icons')}" ng-click="pack.setTab('icons')">
    <i class="icon-icons"></i> icons
  </div>
  <div class="tab-item" ink-ripple ng-class="{active: pack.isTab('info')}" ng-click="pack.setTab('info')">
    <i class="icon-infomation"></i> info
  </div>
  <div class="tab-item" ink-ripple ng-class="{active: pack.isTab('revisions')}" ng-click="pack.setTab('revisions')">
    <i class="icon-revisions"></i> revisions
  </div>
</div>
</md-toolbar>
<md-content class="md-content-padding" flex>
<div class="tab" ng-if="pack.isTab('icons')">
  <div class="pack-icons">
    <md-button class="icon" ng-repeat="icon in pack.icons" aria-label="" ng-click="pack.showIconInfo(icon)">
    <svg viewBox="0 0 1024 1024">
      <path ng-attr-d="{{icon.svg_d}}"
      ng-attr-transform="scale(1, -1) translate( {{ 512 - (icon.width || 1024)/2}} , -896)" ></path>
    </svg>
    <md-tooltip>{{ icon.name }}</md-tooltip>
    </md-button>
  </div>
</div>
<div class="tab" ng-if="pack.isTab('info')">
  <div class="pack-info" layout="vertical" layout-align="center" flex flex-lg="70" offset-lg="15">
    <form name="form">
      <div class="row" >
        <md-text-float label="Name" ng-model="pack.info.name" required> </md-text-float>
      </div>
      <div class="row" layout="vertical" layout-sm="horizontal" >
        <md-text-float label="Author" ng-model="pack.info.author" required flex> </md-text-float>
        <md-text-float label="Email" type="email" ng-model="pack.info.author_email" required flex> </md-text-float>
      </div>
      <div class="row" layout="vertical">
        <md-text-float label="Website" type="url" ng-model="pack.info.website" required url> </md-text-float>
        <md-text-float label="Github" type="url" ng-model="pack.info.github" url> </md-text-float>
        <md-text-float label="CDN" type="url" ng-model="pack.info.cdn" url> </md-text-float>
      </div>
      <div class="row" layout="vertical">
        <md-text-float label="License" ng-model="pack.info.license" required maxlength="64"> </md-text-float>
      </div>
      <div class="row actions">
        <md-button aria-label class="md-warn" ng-click="pack.reset()" ng-disabled="pack.unchanged()">Reset</md-button>
        <md-button aria-label class="md-safe" ng-click="pack.save()" ng-disabled="form.$invalid || pack.unchanged()">Save</md-button>
      </div>
    </form>
  </div>
</div>
<div class="tab" ng-if="pack.isTab('revisions')">
  revisions
</div>
</md-content>
