{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="myiconsApp" ng-controller="appCtrl as app" md-theme="mydark" >
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>myicons</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body layout="horizontal">
{% verbatim %}
<md-sidenav layout="vertical" class="md-sidenav-left md-whiteframe-z2 md-mydark-theme" is-locked-open="$media('md')" component-id="left">
  <md-toolbar class="md-tall" >
  <div class="avatar-bar" ng-if="app.currentUser">
    <div class="avatar-wrap">
      <img ng-src="{{ app.gravatar(app.currentUser.email) }}" alt="">
    </div>
    <div class="name-wrap">
      {{ app.currentUser.username }}
    </div>
  </div>
  </md-toolbar>

  <md-content flex ng-controller="menuCtrl as menu">
  <div ng-repeat="section in menu.sections">
    <div ink-ripple class="menu-item menu-title"
      ng-class="{active: menu.isSelectedSection(section)}"
      ng-click="section.toggleExpand()">
      {{ section.name }}
    </div>
    <a 
      ink-ripple
      class="menu-item"
      ng-show="section.isExpanded"
      ng-click="menu.goto(section, item)"
      ng-repeat="item in section.items"
      ng-class="{active: menu.isSelectedItem(section, item)}"
      aria-hidden="false"
      >
      {{ item.name }}
    </a>
  </div>
  </md-content>
</md-sidenav>
<div ng-view layout="vertical" layout-fill scroll-y></div>
{% endverbatim %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>

